.container {
  display: grid;
  grid-template-rows: 100px auto 100px;
  height: 600px;
  width: 900px;
}

.container header {
  align-items: center;
  background-color: #3700b3;
  box-shadow: 0 0 5px gray;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.container header .search {
  display: grid;
  grid-template-columns: minmax(200px, 400px) 40px;
  grid-template-rows: 40px;
}

.container header .search .search-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100% auto;
}

.container header .search .search-container input {
  border: 1px solid #3700b3;
  border-right: none;
  color: #535353;
  font-weight: bold;
  padding: 10px;
}

.container header .search .search-container .search-results {
  background-color: white;
  box-shadow: 0 0 5px #2e2e2e;
  box-sizing: border-box;
  position: relative;
  width: calc(100% + 40px);
}

.container header .search .search-container .search-results a, .container header .search .search-container .search-results p {
  box-sizing: border-box;
  color: #535353;
  display: block;
  font-size: .9rem;
  font-weight: bold;
  height: 36px;
  padding: 10px;
}

.container header .search .search-container .search-results a {
  margin: 2px 0;
  text-decoration: none;
}

.container header .search .search-container .search-results a:first-child, .container header .search .search-container .search-results a:last-child {
  margin: 0;
}

.container header .search .search-container .search-results a:hover {
  background-color: #f0f0f0;
}

.container header .search .search-container .search-results a.remainder {
  background-color: #e3e3e3;
}

.container header .search .search-container .search-results a.remainder:hover {
  background-color: #cacaca;
}

.container header .search button {
  background-color: white;
  border: 1px solid #3700b3;
  border-left: 1px solid gray;
  cursor: pointer;
}

.container header .search button img {
  background-color: none;
  border: none;
  filter: brightness(0) invert(0.3);
  height: 50%;
  width: 50%;
}

.container header .links {
  align-items: center;
  display: grid;
  gap: 5px;
  grid-template-rows: 40px;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
}

.container header .links a {
  border: 2px solid white;
  border-radius: 3px;
  box-shadow: 0 0 3px #414141;
  color: white;
  font-weight: bold;
  padding: 8px 10px;
  text-decoration: none;
}

.container header .links .btn-update {
  background-color: #2bb42b;
}

.container header .links .btn-delete {
  background-color: #df2727;
}

.container main {
  font-weight: bold;
  margin-top: 15px;
  padding: 10px 30px;
}

.container main section {
  display: grid;
  gap: 10px;
  grid-template-columns: 7% 23% 12% 28% 30%;
  padding: 10px 30px;
}

.container main section.header {
  background-color: #eee;
  box-shadow: 0 0 2px gray;
  color: #535353;
  margin-bottom: 10px;
  gap: 7px;
}

.container main .bands {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container main h2 {
  margin: 20px;
  text-align: center;
}

.container footer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container footer a {
  background-color: #3700b3;
  border: 2px solid #3700b3;
  border-radius: 50px;
  box-shadow: 0 0 3px black;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */